.button {
	background: #ffa109;
	color: #fff;
	border-radius: 8px;
	font-weight: 500;
}

.buttonSmall {
	padding: 8px 16px;
	font-size: 16px;
	line-height: 19px;
}

.buttonMedium {
	padding: 12px 20px;
	font-size: 18px;
	line-height: 21px;
}

.buttonBig {
	padding: 16px 24px;
	font-size: 20px;
	line-height: 23px;
}
